html,body{
    margin:0;
}
.background{
    position: absolute;
    width: 100%;
    opacity: 0.3;
    text-align: center;
}
body.background{
    background-color:#171717;
}
.map {
    white-space: nowrap;
    margin: 0;
    display: inline;
    line-height: 20px;
    font-family:monospace;
}
.map i {
    margin: 0;
    vertical-align: top;
    display: inline-block;
    white-space: pre;
    height: 21px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    overflow:hidden
}
.map b{
    font-weight: normal;
    width: 0.611em;
    display: inline-block;
}
.map br:first-child {
    display: none
}
